
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 70px;
  grid-row-gap: 25px;
}

.card img {
  max-width: 70%;
}

@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
