h2 {
  margin-top: 100px;
}

.grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card img {
  max-width: 70%;
}

@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
