/* Swiper */

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink-name {
  font-size: 1.5em;
  color: antiquewhite;
  text-align: center;
  position: absolute;
  bottom: 10px; /* Distance from the bottom */
  left: 30%;
}

.drink-of-day {
  margin-top: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.drink-card img {
  max-width: 70%;
}

@media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
